.modalWrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    // backdrop-filter: blur(4px);
    background: rgba(47, 47, 47, 0.4);
    z-index: 9999999;

    .modal_section {
        width: 500px;
        // height: 600px;
        border-radius: 15px;
        background-color: #fff;


        .modal_header {
            padding: 15px;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            img {
                cursor: pointer;
                height: 25px;
            }
        }

        .modal_content {
            height: 250px;
            display: flex;
            margin: 0 10px 10px 10px;
            border-radius: 10px;
            justify-content: center;
            align-items: center;
            background-color: #0D171A;
        }

        .modal_footer {
            color: #0D171A;
            margin: 10px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;


            pre {
                text-align: start;
                margin: 0;
                padding: 0;
                // white-space: inherit;
            }

            .copy_header {
                display: flex;
                justify-content: space-between;
                width: 100%;
                padding: 5px;
                background-color: #dedede;

                span {
                    text-align: start;
                }

                img {
                    height: 25px;
                    cursor: pointer;
                }
            }
        }
    }
}